.button {
	border: 0;
	background-color: $ball-blue;
	font-family: $raleway;
	font-size: $medium;
	font-weight: $bold;
	color: $white;
	text-align: center;

	&:hover {
		background-color: $middle-blue;
	}
	&:focus {
		background-color: $lavender-gray;
	}

	&--transparent {
		background-color: transparent;
		color: $raising-black;
		font-weight: $bold;

		&:hover {
			background-color: transparent;
			border: 1px solid $platinum;
		}

		&:focus {
			background-color: $lavender-gray;
			color: $white;
		}
	}

	&--regular {
		padding: .3em .7em;
		margin-left: 1em;
	}

	&--large {
		padding: .7em;
		width: 100%;
	}
}