.pricing__card {
	height: auto;
	background-color: $white;
	color: $raising-black;
	padding: 2em 1.8em;
	margin-top: 1em;
	margin-bottom: 2em;
	&:hover {
		border-color: $nickel;
		box-shadow: 1px 1px 3px 4px rgba($color: $raising-black, $alpha: .2), -1px 0 3px 3px rgba($color: $raising-black, $alpha: .2);
	}
}

.card__title {
	padding: 1.5em 0;
}

.card__body {
	border-top: 2px solid $gray;
	border-bottom: 2px solid $gray;
	padding: .5em;
	margin: 0;
	line-height: 2em;
	@media only screen and (min-width: 992px) {
		height: 15rem;
	}
}

.card__list {
	margin: 1em;
	padding: 0;
}

.card__list-item {
	padding-left: 1em;
}


.card__footer {
	margin-top: 1.2em;
}