.navigation__logo {
	width: 3rem;
}
.navigation__item {
	color: $raising-black;
	margin-right: 1.2em;
	&:hover {
		color: $nickel;
	}
	&:focus {
		color: $silver-chalice;
	}
}

.navigation__buttons {
	display: none;
	@media only screen and (min-width: 992px) {
		display: inline-block;
	}
}

.navigation__burger {
	color: $raising-black;
}