body {
	font-family: $open-sans;
	color: $raising-black;
}


@media only screen and (min-width: 576px) {
	body {
		width: 576px;
		margin: 0;
	}
}

@media only screen and (min-width: 768px) {
	body {
		width: 768px;
		margin: 0;
	}
}

@media only screen and (min-width: 992px) {
	body {
		width: 992px;
		margin: 0;
	}
}

@media only screen and (min-width: 1280px) {
	body {
		width: 1280px;
		margin: 0;
	}
}
