body {
	font-family: $open-sans;
	color: $raising-black;
	background-color: $white;
	font-weight: $regular;
	font-size: $medium;
}

* {
	box-sizing: border-box;
}

.center {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	@media only screen and (min-width: 768px) {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
}

@media only screen and (min-width: 576px) {
	body {
		min-width: 576px;
		margin: 0;
	}
	.center {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	body {
		min-width: 768px;
		margin: 0;
	}
	.center {
		padding-right: 5rem;
		padding-left: 5rem;
	}
}

@media only screen and (min-width: 992px) {
	body {
		min-width: 992px;
		margin: 0;
	}
	.center {
			padding-right: 7rem;
			padding-left: 7rem;
	}	
}

@media only screen and (min-width: 1280px) {
	body {
		min-width: 1280px;
		margin: 0;
	}
}
