body {
	font-family: $open-sans;
	color: $raising-black;
	background-color: $white;
	font-weight: $regular;
	font-size: $medium;
}

* {
	box-sizing: border-box;
}

@media only screen and (min-width: 576px) {
	body {
		min-width: 576px;
		margin: 0;
	}
}

@media only screen and (min-width: 768px) {
	body {
		min-width: 768px;
		margin: 0;
	}
}

@media only screen and (min-width: 992px) {
	body {
		min-width: 992px;
		margin: 0;
	}
}

@media only screen and (min-width: 1280px) {
	body {
		min-width: 1280px;
		margin: 0;
	}
}
