.header {
	padding-top: 3rem;
	@media only screen and (min-width: 768px) {
		background-image: url(../img/bg-hero.svg);
		background-size: contain;
		background-repeat: no-repeat;
		height: 600px;
	}
	@media only screen and (min-width: 992px) {
		height: 800px;
	}
	@media only screen and (min-width: 1280px) {
		height: 1000px;
	}
}

.header__img {
	background-image: url(../img/bg-hero.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	height: 300px;
	@media only screen and (min-width: 576px) {
		height: 500px;
	}
	@media only screen and (min-width: 768px) {
		display: none;
	}
}
