.pricing {
	background-image: url(../img/bg-price.svg);
	padding-top: 5rem;
	background-repeat: no-repeat;
	background-size: contain;
	&__title {
		color: $white;
	}
	@media only screen and (min-width: 576px) {
		padding-top: 15rem;
	}
	@media only screen and (min-width: 1280px) {
		background-size: cover;
	}
}

.pricing__cards-wrapper {
	margin: 0 auto;
	padding: 2rem;
}

//FIXME:
.pricing__cards-wrapper {
	background-color: $onyx;
}